@tailwind base;
@tailwind components;
@tailwind utilities;

.dynamic-bg {
  animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: #7abb9b;
  }
  50% {
    background-color: #aae3c6;
  }
  100% {
    background-color: #7abb9b;
  }
}
